.modal {
    background-color: rgba(255, 255, 255, .94);
    bottom: 0;
    opacity: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: scale(1.2);
    transition: all .3s ease-out;
    visibility: hidden;
    z-index: 5;

    &--is-visible {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
    }

    &__inner {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    &__description {
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.65;
        text-align: center;
    }

    &__close {
        color: $mainBlue;
        cursor: pointer;
        font-size: 2rem;
        position: absolute;
        right: 15px;
        top: 15px;
        transform: scaleX(1.2);
        transform-origin: 100% 0;

        &:hover {
            color: $mainOrange;
        }
    }
}