.primary-nav {
    padding-top: 10px;

    @mixin atMedium {
        padding-top: 0;
    }

    &--pull-right {
        @mixin atMedium {
            float: right;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        @mixin clearfix;
    }

    li {
        display: inline-block;
        list-style: none;
        padding-right: 7px;

        @mixin atMedium {
            display: block;
            float: left;
            padding-right: 20px;
        }
    }

    li:last-child {
        padding-right: 0;

        @mixin atMedium {
            padding-right: 20px;
        }
    }

    a {
        background-color: rgba($mainBlue, .5);
        color: #ffffff;
        display: block;
        font-size: .8rem;
        font-weight: 300;
        padding: 5px 8px;
        text-decoration: none;

        @mixin atMedium {
            background-color: transparent;
            font-size: 1rem;
            padding: 12px 0;

            &.is-current-link {
                color: #fabb69;
            }
        }
    }

}