.section-title {
    font-size: 2.55rem;
    font-weight: 300;
    text-align: center;

    @mixin atSmall {
        font-size: 3.75rem;
    }

    strong {
        font-weight: 500;
    }

    &__icon {
        display: block;
        margin-bottom: .6rem;
        margin-left: auto;
        margin-right: auto;

        @mixin atSmall {
            display: inline-block;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: .5rem;
        }
    }

}